#form-filling {
  margin: 2rem 5rem;
}

.form-check-input:checked {
  background-color: var(--primary) !important;
  border-color: var(--primary) !important;
}

.formTitle {
  margin-bottom: 3px;
}

@media (350px <= width <= 500px) {
  #form-filling {
    margin: 1.5rem 2rem;
  }
}

@media (width = 320px) {
  #form-filling {
    margin: 1.5rem 0.5rem;
  }
}
